# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/crash.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Secrets / credentials
*.csv
.env
*.pem

# OS
.DS_Store
terraform/build/
